.define{
	padding: 10px;
	text-align: left;
	float:left;
	margin-bottom: 100px;
}
img{
	margin-right:20px;
	width: 200px;
	float:left;
	height:100%;
}
.title{
	font-size:18pt;
	font-weight: bold;
	margin-top : 20px;
}
.t4{
	font-size:15pt;
	
}
article{
	padding:10px;
}
